*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #212529;
    background-image: linear-gradient(to bottom, rgba(33, 37, 41, 0.86), #212529);
}

.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

svg text{
    text-transform: uppercase;
    font-size: 180px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: stroke 5s infinite alternate;
}

@keyframes stroke{
    0%{
        fill: rgba(248, 249, 250, 0);
        stroke: rgba(248, 249, 250, 1);
        stroke-width: 2;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }
    70%{
        fill: rgba(248, 249, 250, 0);
        stroke: rgba(248, 249, 250, 1);
    }
    80%{
        fill: rgba(248, 249, 250, 0);
        stroke: rgba(248, 249, 250, 1);
        stroke-width: 3;
    }
    100%{
        fill: rgba(248, 249, 250, 1);
        stroke: rgba(248, 249, 250, 0);
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }
}

.ripple-wrap {
  display: none;
  overflow: hidden;
  position: fixed;
  font-size: 0;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes RIPPLER {
  0% {
    border-width: 0;
  }

  40% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left: -1500px;
    border-color: #212529;
  }

  41% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left: -1500px;
    border-color: #212529;
  }

  100% {
    border-width: 1500px;
    height: 2000px;
    width: 2000px;
    margin-top: -2500px;
    margin-left: -2500px;
    border-color: #212529;
  }
}

@keyframes RIPPLER {
  0% {
    border-width: 0;
  }

  40% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left: -1500px;
    border-color: #212529;
  }

  41% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left: -1500px;
    border-color: #212529;
  }

  100% {
    border-width: 1500px;
    height: 2000px;
    width: 2000px;
    margin-top: -2500px;
    margin-left: -2500px;
    border-color: #212529;
  }
}

.ripple {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #212529;
  border-radius: 100%;
  position: absolute;
  top: 300px;
  left: 300px;
  -webkit-animation: none;
  animation: none;
}

.ripple-wrap.goripple {
  display: block;
}

.ripple-wrap.goripple .ripple {
  -webkit-animation-name: RIPPLER;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: RIPPLER;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.mainsvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}